/* Text colors */

.text-primary {
    color: #F6BE00;
}

.text-secondary {
    color: #0284d0;
}

/* Button and background*/

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #F6BE00;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary,
.bg-primary {
    color: #fff;
    background-color: #F6BE00;
}

.btn-secondary,
.bg-secondary {
    background: #0D5257;
    color: #fff;
}

.btn-dark,
.bg-dark {
    background: #333;
    color: #fff;
}

.btn-light,
.bg-light {
    background: url("../images/pattern1_white.png") no-repeat center center/cover #f4f4f4;
    color: #333;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

.btn-outline-dark {
    background: transparent;
    border: 1px solid #333;
}

/* Flex items */

.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.flex-items > div {
    padding: 20px;
}

/* Flex columns */

.flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
}

.flex-columns .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex: 1 50%;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}

/* Section header */

.section-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-header h2 {
    font-size: 40px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 40px;
}

/* Flex grid */

.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    padding: 0 4px;
}

.column .cell {
    height: 50%;
    padding: 4px 0;
}

.column .cell img {
    backgroung-image: url("../images/pattern1_white.png") no-repeat center center/cover;
    height: 100%;
    object-fit: cover;
}
